@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
  overflow-x: hidden;
  background-color: #f0f0f0;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  width: 970px;
  margin: 0 auto;
  position: relative;
}

.host {
  width: 100%;
  background-color: #f0f0f0;
  border-bottom: 1px solid #d9d9d9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.host:after {
  display: none;
}

.host .header_body {
  background-color: #fff;
  padding: 1.8rem;
}

.host .header_body h1 {
  font-size: 2rem;
  line-height: 3.5rem;
  margin-right: 8rem;
}

.host .header_body .gnb {
  font-size: 1.6rem;
  line-height: 3.5rem;
}

.host .header_body .gnb li {
  margin: 0 1.5rem;
}

.host .header_body .gnb li:hover a {
  color: #0078f0;
  font-weight: 700;
}

.host .header_body .gnb li.on a {
  font-weight: 700;
  color: #0078f0;
}

footer {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #555;
  border-top: 0.1rem solid #777;
}

footer .inner {
  width: 100%;
  max-width: 97rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .foot-logo {
  display: inline-block;
  width: 19.3rem;
  height: 4rem;
  margin: 5.5rem auto 3rem;
}

footer .foot-info span {
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
}

footer .foot-info span:first-child {
  color: #fff;
}

footer .foot-info span:last-child {
  margin-bottom: 5.5rem;
}

footer .foot-info .phone {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-phone.png") no-repeat;
}

footer .foot-info .mail {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-mail.png") no-repeat;
}

footer .foot-copy {
  padding: 1.6rem 0;
  font-size: 1.1rem;
}

footer .divide {
  border-top: 0.1rem solid #777;
}
