@import 'config';

.host_reservation {
    width: 57rem;
    margin: 5rem auto 10rem;

    h2 {
        font-size: 2.4rem;
        line-height: 3.2rem;
        font-weight: 700;
    }

    .reservation_list {
        width: 100%;

        li {
            background-color: #fff;
            border: 0.1rem solid #c4c4c4;
            padding: 2rem;
            position: relative;
            margin: 2rem 0;

            .title {
                font-size: 1.8rem;
                line-height: 3.2rem;
                font-weight: 700;
            }

            .cancel {
                position: absolute;
                right: 2rem;
                top: 2rem;
                color: $point-color;
                font-size: 1.4rem;
                line-height: 3.2rem;
            }

            table {
                width: 100%;
                font-size: 1.6rem;
                
                tr td:first-child {
                    width: 15%;
                }

                tr td:last-child {
                    color: #5d5d5d;
                }
            }
        }
    }
}