@import 'config';

main {
    width: 32rem;
    margin: 5rem auto;
    text-align: right;

    .create {
        display: block;
        width: 100%;
        color: #fff;
        background-color: $point-color;
        font-size: 1.8rem;
        line-height: 2.1rem;
        text-align: center;
        padding: 1.2rem 0;
        margin-bottom: 5rem;
    }

    .place {
        width: calc(100% - 0.2rem);
        border: 0.1rem solid #c4c4c4;
        background-color: #fff;
        text-align: left;
        margin: 1rem auto;
        position: relative;
        height: auto;
        
        .title {
            font-size: 1.8rem;
            line-height: 3.2rem;
        }

        .update {
            font-size: 1.6rem;
            color: #5d5d5d;
            line-height: 2.8rem;
        }

        hr {
            display: none;
            width: calc(100% - 2.4rem);
            margin: 0 auto;
            border: none;
            border-bottom: 0.1rem dashed #c4c4c4;
        }

        &_main {
            width: calc(100% - 5.6rem);
            padding: 1.2rem 1.2rem 1.2rem 4.4rem;
            position: relative;
            cursor: pointer;

            &:hover {
                background-color: rgba($color: #ccc, $alpha: 0.2);
            }

            a {
                position: absolute;
                right: 1.2rem;
                top: 2rem;
                font-size: 1.8rem;
                color: #5d5d5d;
                @include transition-ease;

                &:hover {
                    color: $point-color;
                    @include transition-ease;
                }
            }

            .xi-angle-right-min, .xi-angle-down-min {
                position: absolute;
                font-size: 3rem;
                top: 50%;
                left: 0.8rem;
                transform: translateY(-50%);
            }
        }

        &_rooms {
            display: none;
            position: relative;
            width: calc(100% - 10%);
            padding: 1.2rem 5%;
            margin-right: 0;

            h2 {
                font-size: 1.6rem;
                line-height: 2.8rem;
                font-weight: 400;
            }

            .xi-plus-circle {
                font-size: 2rem;
                position: absolute;
                right: 1.8rem;
                top: 1.6rem;
                @include transition-ease;

                &:hover {
                    color: $point-color;
                    @include transition-ease;
                }
            }

            ul {
                margin: 1rem 0;
                li {
                    position: relative;
                    padding-left: 1.8rem;
                    width: calc(100% - 1.8rem);
                    margin: 0.1rem 0;
                    @include transition-ease;
                    
                    &::before {
                        position: absolute;
                        left: 0.5rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    &:hover {
                        background-color: rgba(#ccc, $alpha: 0.2);
                        @include transition-ease;
                    }
    
                    a, button {
                        position: absolute;
                        display: block;
                        top: 50%;
                        transform: translateY(-50%);
                        font-size: 2rem;
                        @include transition-ease;

                        &:hover {
                            color: $point-color;
                            @include transition-ease;
                        }
                    }

                    a {
                        right: 3rem;
                    }

                    button {
                        right: 0;
                        border: none;
                        background-color: transparent;
                    }
                }
                
            }

        }

    }
}