@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  width: 970px;
  margin: 0 auto;
  position: relative;
}

.ask {
  width: 32rem;
  margin: 5rem auto 10rem;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.ask h2 {
  font-size: 1.8rem;
}

.ask p {
  color: #656565;
}

.ask input, .ask textarea {
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 0.5rem 0;
  border: 0.1rem solid #c4c4c4;
  font-size: 1.8rem;
}

.ask input:focus, .ask textarea:focus {
  outline: none;
}

.ask textarea {
  height: 15rem;
  resize: none;
}

.ask button {
  width: 100%;
  padding: 1.2rem;
  color: #fff;
  font-weight: 700;
  background-color: #0078f0;
  border: none;
  cursor: pointer;
}

.ask .emailRegExp {
  color: #ff1f00;
}
