@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button, input {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button {
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrap {
    width: 970px;
  }
}

.detail_place {
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place {
    background-color: #fff;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .wrap {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .wrap {
    width: 90%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place h2 {
    font-size: 2rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding: 1rem 0 0 2rem;
  }
  .detail_place h2:after {
    content: '44,000원';
    color: #2955EF;
    position: absolute;
    right: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place h2 {
    font-size: 2.2rem;
    line-height: 3.5rem;
    font-weight: 700;
    padding: 1rem 0 0 2rem;
  }
  .detail_place h2:after {
    content: '44,000원';
    color: #2955EF;
    position: absolute;
    right: 2rem;
  }
}

@media (min-width: 1024px) {
  .detail_place h2 {
    font-size: 2.8rem;
    line-height: 4.9rem;
    font-weight: 700;
    margin: 3rem 0 1rem;
  }
}

.detail_place .vr {
  width: 100%;
  height: 45rem;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .vr {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .detail_place .vr::before {
    content: "126년의 역사를 자랑하는 유서깊은 성당";
    font-size: 1.6rem;
    line-height: 2.8rem;
    display: block;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #656565;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .vr {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .detail_place .vr::before {
    content: "126년의 역사를 자랑하는 유서깊은 성당";
    font-size: 1.6rem;
    line-height: 2.8rem;
    display: block;
    margin-left: 2rem;
    margin-bottom: 1rem;
    color: #656565;
  }
}

.detail_place .vr .cover {
  width: inherit;
  height: inherit;
  background-image: url("https://my.matterport.com/api/v2/player/models/wyZJ8NMK5ed/thumb/");
  background-size: 100% 100%;
  background-position: center;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .vr .cover {
    width: 100%;
    height: 20rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .vr .cover {
    width: 100%;
    height: 40rem;
    margin: 0 auto;
  }
}

.detail_place .vr .cover .playBtn {
  width: 30rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  cursor: pointer;
  color: #fff;
  font-size: 8rem;
  text-align: center;
}

.detail_place .vr iframe {
  position: absolute;
  z-index: -1;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .vr iframe {
    height: 20rem;
    top: 3.8rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .vr iframe {
    margin: 0 auto;
    top: 3.8rem;
  }
}

@media (min-width: 1024px) {
  .detail_place .vr iframe {
    left: 0;
    top: 0;
    z-index: -1;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_info {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_info {
    display: block;
  }
}

.detail_place .place_intro {
  width: 58rem;
  margin-right: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro {
    width: 100%;
  }
}

.detail_place .place_intro > div {
  margin: 3rem 0;
}

.detail_place .place_intro h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.detail_place .place_intro .topMenu {
  position: -webkit-sticky;
  position: sticky;
  top: 7.1rem;
  background-color: #fff;
  z-index: 0;
  padding: 2rem 0 2rem;
  margin-top: 7rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .topMenu {
    margin: 0;
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .topMenu {
    margin: 0;
    position: static;
  }
}

.detail_place .place_intro .topMenu ul {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: #656565;
  text-align: center;
}

.detail_place .place_intro .topMenu ul.popup {
  margin-bottom: 1rem;
}

.detail_place .place_intro .topMenu ul.popup li {
  width: calc((100% / 4) - 1rem);
  cursor: pointer;
}

.detail_place .place_intro .topMenu ul.popup li.on {
  color: #2955EF;
}

.detail_place .place_intro .topMenu ul.popup li.on svg {
  fill: #2955EF;
}

.detail_place .place_intro .topMenu ul.popup li svg {
  width: 4rem;
  height: 4rem;
  margin: 0 auto;
  fill: #656565;
  display: block;
}

.detail_place .place_intro .topMenu ul.popup li:hover {
  color: #2955EF;
}

.detail_place .place_intro .topMenu ul.popup li:hover svg {
  fill: #2955EF;
}

.detail_place .place_intro .topMenu ul.popup li:hover:before {
  color: #2955EF;
}

.detail_place .place_intro .topMenu ul.popup li:before {
  display: block;
  font-size: 3.5rem;
  color: #888;
  margin-bottom: 1rem;
}

.detail_place .place_intro .topMenu ul.scrollMenu li {
  width: calc( (100% / 5) - 1rem);
  padding: 0.8rem 0;
  border-bottom: 0.3rem solid transparent;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .topMenu ul.scrollMenu li {
    width: calc(100% / 5);
    font-size: 1.3rem;
  }
}

.detail_place .place_intro .topMenu ul.scrollMenu li:hover {
  color: #2955EF;
  border-color: #2955EF;
}

.detail_place .place_intro .topMenu ul.scrollMenu li.on {
  color: #2955EF;
  border-color: #2955EF;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .contents {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}

.detail_place .place_intro .contents pre {
  color: #656565;
  white-space: pre-line;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .contents pre {
    margin: 1rem 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .contents pre {
    margin: 1rem 0 2rem;
  }
}

.detail_place .place_intro .place_img {
  width: 100%;
  margin: 7rem 0 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_img {
    margin: 3rem 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_img {
    margin: 3rem 0;
  }
}

.detail_place .place_intro .place_img img {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_options {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}

.detail_place .place_intro .place_options .place_option {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.detail_place .place_intro .place_options .place_option li {
  color: #656565;
  font-size: 1.6rem;
  line-height: 4rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.detail_place .place_intro .place_options .place_option li svg {
  width: 4rem;
  height: 4rem;
  display: inline;
  vertical-align: middle;
  margin: 1.6rem 1rem 1.6rem 0;
  fill: #656565;
}

.detail_place .place_intro .place_options .place_option li p {
  display: inline;
  vertical-align: middle;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_caution, .detail_place .place_intro .place_rule {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_caution, .detail_place .place_intro .place_rule {
    width: calc(100% - 4rem);
    margin: 0 auto;
  }
}

.detail_place .place_intro .place_caution .caution, .detail_place .place_intro .place_rule .caution {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #ff5656;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_caution .caution, .detail_place .place_intro .place_rule .caution {
    margin-top: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_caution .caution, .detail_place .place_intro .place_rule .caution {
    margin-top: 1rem;
  }
}

.detail_place .place_intro .place_caution pre, .detail_place .place_intro .place_rule pre {
  color: #656565;
  white-space: pre-line;
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_caution pre, .detail_place .place_intro .place_rule pre {
    margin: 1rem 0 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_caution pre, .detail_place .place_intro .place_rule pre {
    margin: 1rem 0 2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_gps {
    width: calc(100% - 4rem);
    margin: 0 auto 8rem;
    position: relative;
  }
  .detail_place .place_intro .place_gps:after {
    content: "길찾기";
    display: block;
    background-color: #2955EF;
    color: #fff;
    width: 100%;
    padding: 1.8rem 0;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    top: 22.2rem;
    cursor: pointer;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_gps {
    width: calc(100% - 4rem);
    margin: 0 auto 8rem;
    position: relative;
  }
  .detail_place .place_intro .place_gps:after {
    content: "길찾기";
    display: block;
    background-color: #2955EF;
    color: #fff;
    width: 100%;
    padding: 1.8rem 0;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    top: 34.2rem;
    cursor: pointer;
  }
}

.detail_place .place_intro .place_gps iframe {
  width: 100%;
  height: 22.2rem;
  margin-bottom: 10rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_intro .place_gps iframe {
    margin: 1rem 0 10rem;
    height: 18rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_intro .place_gps iframe {
    margin: 1rem 0 10rem;
    height: 30rem;
  }
}

.detail_place .place_pay {
  margin: 7rem 0;
  width: 31.6rem;
  padding: 2.5rem;
  border: 0.2rem solid #f3f3f4;
  border-top: none;
  border-bottom: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_pay {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: -5vw;
    border: none;
  }
}

.detail_place .place_pay .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 7.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay .sticky {
    position: static;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_pay .sticky {
    position: static;
  }
}

.detail_place .place_pay h3 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

.detail_place .place_pay #cost {
  font-size: 1.8rem;
  color: #2955EF;
  font-weight: 700;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay .user_reservation {
    width: calc(100% - 4rem);
    padding: 2rem;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: calc(100vh - 11rem);
    left: 0;
    top: 7rem;
    background-color: #ebebeb;
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .place_pay .user_reservation {
    width: 60%;
    padding: 2rem 20%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: calc(100vh - 11rem);
    left: 0;
    top: 7rem;
    background-color: #ebebeb;
    display: none;
  }
}

.detail_place .place_pay .user_reservation fieldset {
  padding: 0;
  border: none;
  margin-bottom: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay .user_reservation fieldset {
    margin: 0 auto 3rem;
  }
}

.detail_place .place_pay .user_reservation fieldset legend {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay .user_reservation fieldset legend {
    margin-bottom: 1rem;
  }
}

.detail_place .place_pay .user_reservation fieldset label {
  font-size: 1.8rem;
}

.detail_place .place_pay .user_reservation fieldset input:focus {
  outline: none;
}

.detail_place .place_pay .user_reservation .reserv_select .date, .detail_place .place_pay .user_reservation .reserv_select .time {
  display: inline-block;
  font-size: 1.8rem;
  padding: 1rem;
  color: #c4c4c4;
  border: 0.1rem solid #c4c4c4;
  margin: 0.8rem;
  margin-left: 0;
  cursor: pointer;
  color: #2955EF;
}

.detail_place .place_pay .user_reservation .reserv_select .date {
  width: calc(65% - 3.5rem);
}

.detail_place .place_pay .user_reservation .reserv_select .time {
  width: calc(35% - 2rem);
  margin: 0;
}

.detail_place .place_pay .user_reservation .reserv_select input[type=date], .detail_place .place_pay .user_reservation .reserv_select input[type=time] {
  display: none;
}

.detail_place .place_pay .user_reservation .reserv_select input[type=date]:focus, .detail_place .place_pay .user_reservation .reserv_select input[type=time]:focus {
  outline: nonoe;
}

.detail_place .place_pay .user_reservation .reserv_select p {
  display: block;
  text-align: center;
  font-size: 3rem;
  color: #9e9e9e;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.8rem;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container label {
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #656565;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container input {
  width: 70%;
  border: none;
  text-align: right;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container input:disabled {
  background-color: transparent;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container .setDate {
  text-align: right;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container .setDate span {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-left: 0.5rem;
}

.detail_place .place_pay .user_reservation .user_selectInfo .container .setDate span:not(.period) {
  display: none;
}

.detail_place .place_pay .user_reservation .userInfo {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .place_pay .user_reservation .userInfo {
    margin-bottom: 10rem;
  }
}

.detail_place .place_pay .user_reservation .userInfo input {
  width: calc(100% - 2.4rem);
  padding: 1.2rem;
  margin: 1rem 0;
  font-size: 1.8rem;
  border: 0.1rem solid #c4c4c4;
}

.detail_place .place_pay .user_reservation .userInfo input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.detail_place .place_pay .user_reservation .userInfo input:-ms-input-placeholder {
  color: #c4c4c4;
}

.detail_place .place_pay .user_reservation .userInfo input::-ms-input-placeholder {
  color: #c4c4c4;
}

.detail_place .place_pay .user_reservation .userInfo input::placeholder {
  color: #c4c4c4;
}

.detail_place .place_pay .user_reservation .userInfo p {
  font-size: 1.6rem;
  color: #656565;
}

.detail_place .place_pay .user_reservation .userInfo p:before {
  content: "*";
  margin-right: 0.5rem;
  color: #2955EF;
  vertical-align: center;
}

.detail_place .buttonArea {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .buttonArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
  }
  .detail_place .buttonArea:after {
    content: '';
    width: 0.2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 900;
    background-color: #6486FF;
    border-radius: 10rem;
  }
  .detail_place .buttonArea.noLine:after {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .buttonArea {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    width: 100vw;
    left: 0;
    bottom: 0;
    z-index: 999;
  }
  .detail_place .buttonArea:after {
    content: '';
    width: 0.2rem;
    height: 2rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 1.8rem;
    font-weight: 900;
    background-color: #6486FF;
    border-radius: 10rem;
  }
  .detail_place .buttonArea.noLine:after {
    display: none;
  }
}

.detail_place .buttonArea button {
  width: 32rem;
  background-color: #2955EF;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.8rem;
  border: none;
  cursor: pointer;
}

.detail_place .buttonArea button:focus {
  outline: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .buttonArea button {
    width: 50%;
    font-weight: 400;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .buttonArea button {
    width: 50%;
    font-weight: 400;
  }
}

.detail_place .buttonArea button[form=userReserv] {
  display: none;
}

.detail_place .buttonArea #callTohost {
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_place .buttonArea #callTohost {
    width: 50vw;
    padding: 1.8rem 0;
    color: #fff;
    background-color: #2955EF;
    display: block;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_place .buttonArea #callTohost {
    width: 50vw;
    padding: 1.8rem 0;
    color: #fff;
    background-color: #2955EF;
    display: block;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d.wrap {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d.wrap {
    width: 90%;
  }
}

.detail_3d h2 {
  font-size: 2.8rem;
  line-height: 4.9rem;
  font-weight: 700;
  margin: 3rem 0 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d h2 {
    font-size: 1.8rem;
    padding: 0 2rem;
    margin-top: 1rem;
    line-height: 3.5rem;
  }
  .detail_3d h2:after {
    content: '100,000원';
    color: #2955EF;
    position: absolute;
    right: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d h2 {
    font-size: 1.8rem;
    padding: 0 2rem;
    margin-top: 1rem;
    line-height: 3.5rem;
  }
  .detail_3d h2:after {
    content: '100,000원';
    color: #2955EF;
    position: absolute;
    right: 2rem;
  }
}

.detail_3d model-viewer {
  width: 100%;
  height: 43.5rem;
  border: 0.1rem solid #ddd;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d model-viewer {
    height: 36rem;
    border: none;
    border-bottom: 0.1rem solid #ddd;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d model-viewer {
    height: 36rem;
  }
}

.detail_3d .model_info {
  margin: 0 0 10rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_info.container {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_info.container {
    display: block;
  }
}

.detail_3d .model_intro {
  width: calc(100% - 39.5rem);
  margin-right: 2.5rem;
  margin-top: 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_intro {
    width: calc(100% - 6rem);
    margin: 0 auto;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_intro {
    width: 100%;
  }
}

.detail_3d .model_intro h3 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_intro h3 {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_intro h3 {
    margin-top: 3rem;
  }
}

.detail_3d .model_intro pre {
  font-size: 1.8rem;
  line-height: 3.2rem;
  white-space: pre-line;
  word-break: keep-all;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_intro pre {
    word-break: break-all;
  }
}

.detail_3d .model_pay {
  width: 31.6rem;
  border: 0.2rem solid #f3f3f4;
  border-top: none;
  border-bottom: none;
  padding: 0 2.5rem;
  margin-top: 3rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_pay {
    width: calc(100% - 4rem);
    margin: 0 auto;
    padding: 0;
    border: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_pay {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border: none;
  }
}

.detail_3d .model_pay h3 {
  font-size: 1.8rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_pay h3 {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_pay h3 {
    display: none;
  }
}

.detail_3d .model_pay .container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.8rem;
}

.detail_3d .model_pay .container input {
  text-align: right;
  font-size: 1.8rem;
  background-color: transparent;
  color: #2955EF;
  font-weight: 700;
  border: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_pay .container label, .detail_3d .model_pay .container input {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_pay .container label, .detail_3d .model_pay .container input {
    display: none;
  }
}

.detail_3d .model_pay button {
  width: 100%;
  padding: 1.8rem 0;
  font-size: 1.8rem;
  color: #fff;
  font-weight: 700;
  background-color: #2955EF;
  margin: 3rem 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_pay button {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_pay button {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 0;
  }
}

.detail_3d .model_pay table {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .detail_3d .model_pay table {
    width: 100%;
    margin-top: 3rem;
  }
  .detail_3d .model_pay table:before {
    content: '모델링 정보';
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .detail_3d .model_pay table {
    width: 100%;
    margin-top: 3rem;
  }
  .detail_3d .model_pay table:before {
    content: '모델링 정보';
    font-weight: 700;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.detail_3d .model_pay table tr {
  width: 100%;
  font-size: 1.8rem;
}

.detail_3d .model_pay table tr th {
  width: 50%;
  text-align: left;
  font-weight: 400;
  line-height: 3.2rem;
  color: #656565;
}

.detail_3d .model_pay table tr td {
  width: 50%;
  text-align: right;
  line-height: 3.2rem;
}

.modal {
  width: 100vw;
  height: calc(100vh - 7rem);
  position: fixed;
  top: 7rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  overflow-y: scroll;
}

.modal.open {
  display: block;
}

.modal .wrap {
  background-color: #fff;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal .wrap {
    width: 100%;
  }
}

.modal_header {
  width: 100%;
  height: 5rem;
  font-size: 3rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
}

.modal_header p {
  position: absolute;
  right: 2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal_header p {
    right: 5%;
  }
}

.modal #gallery {
  width: 80%;
  margin: 0 auto;
  display: none;
}

.modal #gallery.open {
  display: block;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal #gallery.open {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal #gallery.open {
    width: 90%;
  }
}

.modal #gallery img {
  width: 100%;
  margin: 0 auto 3rem;
}

.modal #gallery img:last-child {
  margin-bottom: 5rem;
}

.modal #drone {
  width: calc(100% - 10rem);
  height: calc(100vh - 12rem);
  margin: 0 auto;
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal #drone {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal #drone {
    width: 90%;
  }
}

.modal #drone iframe {
  width: 100%;
  height: calc(100% - 5rem);
}

@media (min-width: 320px) and (max-width: 767px) {
  .modal #drone iframe {
    height: 30rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .modal #drone iframe {
    height: 50rem;
  }
}

.modal #drone.open {
  display: block;
}
