@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button, input {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button {
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrap {
    width: 970px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button, input {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button {
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrap {
    width: 970px;
  }
}

header {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #d9d9d9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 2;
}

header:after {
  display: none;
}

header .wrap {
  height: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .wrap {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .wrap {
    width: 90%;
  }
}

header .container {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .container h1 {
    margin-right: 12rem;
  }
}

@media (min-width: 1024px) {
  header .container h1 {
    margin-right: 45.5rem;
  }
}

header .container h1 svg {
  width: 13rem;
}

header .container .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header .container .search input[type=search] {
  width: 30rem;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid #737373;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .container .search input[type=search] {
    width: 60vw;
  }
}

@media (min-width: 1024px) {
  header .container .search input[type=search] {
    display: block;
  }
}

header .container .search button {
  font-size: 2.5rem;
  background-color: transparent;
  margin-right: 4rem;
}

header .container .ham {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container .ham span {
  width: 2rem;
  height: .2rem;
  display: block;
  background-color: #474747;
}

header .container .ham span:before, header .container .ham span:after {
  content: "";
  display: block;
  width: 2rem;
  height: .2rem;
  background-color: #474747;
  position: absolute;
}

header .container .ham span::before {
  top: -.6rem;
}

header .container .ham span:after {
  bottom: -.6rem;
}

header .menu {
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: none;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .menu {
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .menu {
    width: 50vw;
  }
}

@media (min-width: 1024px) {
  header .menu {
    width: 36rem;
  }
}

header .menu.on {
  display: block;
  right: 0;
  z-index: 999;
}

header .menu.on::before {
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  z-index: -1;
}

header .menu > div {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

header .menu button {
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  padding: 2rem;
  position: absolute;
  right: 0;
}

header .menu hr {
  border: none;
  border-bottom: .8rem solid #e8e8e8;
  margin: 2rem 0;
}

header .menu .welcome {
  width: 32rem;
  margin: 0 auto;
  padding-top: 7.8rem;
  font-size: 1.8rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .menu .welcome {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .menu .welcome {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  header .menu .welcome {
    width: 32rem;
  }
}

header .menu .welcome h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: 3.2rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .menu .welcome h2 {
    font-size: 1.6rem;
  }
}

header .menu .welcome p {
  line-height: 3.2rem;
  color: #656565;
  margin-bottom: 1rem;
}

header .menu .welcome a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #2955EF;
  color: #2955EF;
  font-weight: 700;
}

header .menu .gnb {
  margin: 0 auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  header .menu .gnb {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  header .menu .gnb {
    width: 90%;
  }
}

@media (min-width: 1024px) {
  header .menu .gnb {
    width: 32rem;
  }
}

header .menu .gnb li {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #212529;
  margin: 1.4rem 0;
}

footer {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #555;
  border-top: 0.1rem solid #777;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  footer {
    display: none;
  }
}

footer .inner {
  width: 100%;
  max-width: 97rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .foot-logo {
  display: inline-block;
  width: 19.3rem;
  height: 4rem;
  margin: 5.5rem auto 3rem;
  background: url("http://zipshowkorea.com/img/zipshow_long_w.png") no-repeat;
}

footer .foot-info span {
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
}

footer .foot-info span:first-child {
  color: #fff;
}

footer .foot-info span:last-child {
  margin-bottom: 5.5rem;
}

footer .foot-info .phone {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-phone.png") no-repeat;
}

footer .foot-info .mail {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-mail.png") no-repeat;
}

footer .foot-copy {
  padding: 1.6rem 0;
  font-size: 1.1rem;
}

footer .divide {
  border-top: 0.1rem solid #777;
}

.main, .search_result {
  overflow-x: hidden;
  background-color: #ebebeb;
}

@media (min-width: 1024px) {
  .main, .search_result {
    background-color: transparent;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main > .wrap, .search_result > .wrap {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main > .wrap, .search_result > .wrap {
    width: 100%;
  }
}

.main .banner, .search_result .banner {
  width: 100%;
  background-color: #d8f3ff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .banner .content, .search_result .banner .content {
    padding: 4.5rem 3rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .banner .content, .search_result .banner .content {
    padding: 8rem 8rem;
  }
}

@media (min-width: 1024px) {
  .main .banner .content, .search_result .banner .content {
    padding: 8rem 20rem;
  }
}

.main .banner .content p, .search_result .banner .content p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
}

.main .banner .content h2, .search_result .banner .content h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.85rem;
}

.main .category, .search_result .category {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem auto;
}

.main .category ul, .search_result .category ul {
  background-color: #c4c4c4;
  position: relative;
  grid-gap: 0.1rem;
  padding: 0.1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .category ul, .search_result .category ul {
    width: 28.5rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .category ul, .search_result .category ul {
    width: 50rem;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1024px) {
  .main .category ul, .search_result .category ul {
    width: 53.6rem;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
}

.main .category ul li, .search_result .category ul li {
  width: 100%;
  height: calc(100% -0.1rem);
  height: 4.2rem;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .category ul li:last-child, .search_result .category ul li:last-child {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .category ul li:last-child, .search_result .category ul li:last-child {
    display: block;
    background-color: #ebebeb;
  }
}

@media (min-width: 1024px) {
  .main .category ul li:last-child, .search_result .category ul li:last-child {
    display: block;
  }
}

.main .category ul li a, .search_result .category ul li a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.main .search, .search_result .search {
  position: relative;
  padding-bottom: 10rem;
  width: 100%;
}

.main .search .more, .search_result .search .more {
  display: none;
}

.main .search h2, .search_result .search h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .search h2, .search_result .search h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .search h2, .search_result .search h2 {
    text-align: center;
    font-size: 2.2rem;
  }
}

.main .search .search_title, .search_result .search .search_title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 4.2rem;
  margin: 3rem 0 4rem;
}

.main .search .search_title .keyword, .search_result .search .search_title .keyword {
  color: #2955EF;
}

.main .search_list, .search_result .search_list {
  width: 100%;
  margin: 1rem 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 1rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .search_list, .search_result .search_list {
    width: 90%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .search_list, .search_result .search_list {
    width: 90%;
    margin: 0 auto;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
  }
}

.main .search_list li, .search_result .search_list li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .search_list li, .search_result .search_list li {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.2rem #d9d9d9;
            box-shadow: 0 0.2rem 0.2rem #d9d9d9;
  }
}

@media (min-width: 1024px) {
  .main .search_list li, .search_result .search_list li {
    width: 23.5rem;
    height: 23rem;
  }
}

.main .search_list li:hover .imgarea img, .search_result .search_list li:hover .imgarea img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.main .search_list li a, .search_result .search_list li a {
  display: block;
}

.main .search_list li a .imgarea, .search_result .search_list li a .imgarea {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .search_list li a .imgarea img, .search_result .search_list li a .imgarea img {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .search_list li a .imgarea img, .search_result .search_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .search_list li a .imgarea img, .search_result .search_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .main .search_list li a .imgarea img, .search_result .search_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .search_list li a p, .search_result .search_list li a p {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .search_list li a p, .search_result .search_list li a p {
    padding: 0 1rem;
  }
}

.main .search_list li a .title, .search_result .search_list li a .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem 0;
}

.main .search_list li a .price, .search_result .search_list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #9c9c9c;
  margin-bottom: 1rem;
}

.main .search_list li a .price span, .search_result .search_list li a .price span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #2955EF;
  margin-right: .4rem;
}

.main .popular, .search_result .popular {
  position: relative;
  width: 100%;
}

.main .popular h2, .search_result .popular h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular h2, .search_result .popular h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .popular h2, .search_result .popular h2 {
    text-align: center;
    font-size: 2.2rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular .more, .search_result .popular .more {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .popular .more, .search_result .popular .more {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main .popular .more, .search_result .popular .more {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

.main .popular .search_title, .search_result .popular .search_title {
  text-align: center;
  font-size: 2.4rem;
  line-height: 4.2rem;
  margin: 3rem 0 4rem;
}

.main .popular .search_title .keyword, .search_result .popular .search_title .keyword {
  color: #2955EF;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular:not(.search) .swiper-container, .search_result .popular:not(.search) .swiper-container {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .popular:not(.search) .swiper-container, .search_result .popular:not(.search) .swiper-container {
    margin-left: 2rem;
  }
}

.main .popular_list, .search_result .popular_list {
  width: 100%;
  margin: 1rem 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 1rem;
}

.main .popular_list li, .search_result .popular_list li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #fff;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular_list li, .search_result .popular_list li {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.2rem #d9d9d9;
            box-shadow: 0 0.2rem 0.2rem #d9d9d9;
  }
}

@media (min-width: 1024px) {
  .main .popular_list li, .search_result .popular_list li {
    width: 23.5rem;
    height: 23rem;
  }
}

.main .popular_list li:hover .imgarea img, .search_result .popular_list li:hover .imgarea img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.main .popular_list li a, .search_result .popular_list li a {
  display: block;
}

.main .popular_list li a .imgarea, .search_result .popular_list li a .imgarea {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .popular_list li a .imgarea img, .search_result .popular_list li a .imgarea img {
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular_list li a .imgarea img, .search_result .popular_list li a .imgarea img {
    width: auto;
    height: 18rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .popular_list li a .imgarea img, .search_result .popular_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .main .popular_list li a .imgarea img, .search_result .popular_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .popular_list li a p, .search_result .popular_list li a p {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .popular_list li a p, .search_result .popular_list li a p {
    padding: 0 1rem;
  }
}

.main .popular_list li a .title, .search_result .popular_list li a .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 1rem 0;
}

.main .popular_list li a .price, .search_result .popular_list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #9c9c9c;
  margin-bottom: 1rem;
}

.main .popular_list li a .price span, .search_result .popular_list li a .price span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #2955EF;
  margin-right: .4rem;
}

.main .modelling, .search_result .modelling {
  position: relative;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling, .search_result .modelling {
    margin: 3rem 0 10rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling, .search_result .modelling {
    margin: 5rem 0 10rem;
  }
}

@media (min-width: 1024px) {
  .main .modelling, .search_result .modelling {
    margin: 5rem 0 10rem;
  }
}

.main .modelling h2, .search_result .modelling h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling h2, .search_result .modelling h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 3.5rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling h2, .search_result .modelling h2 {
    text-align: center;
    font-size: 2.2rem;
  }
}

.main .modelling .more, .search_result .modelling .more {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  line-height: 3.5rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling .more, .search_result .modelling .more {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main .modelling .more, .search_result .modelling .more {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling .swiper-container, .search_result .modelling .swiper-container {
    margin-left: 2rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling .swiper-container, .search_result .modelling .swiper-container {
    margin-left: 2rem;
  }
}

.main .modelling_list, .search_result .modelling_list {
  margin: 1rem 0;
}

.main .modelling_list li, .search_result .modelling_list li {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling_list li, .search_result .modelling_list li {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.2rem #d9d9d9;
            box-shadow: 0 0.2rem 0.2rem #d9d9d9;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling_list li, .search_result .modelling_list li {
    background-color: #fff;
    -webkit-box-shadow: 0 0.2rem 0.2rem #d9d9d9;
            box-shadow: 0 0.2rem 0.2rem #d9d9d9;
  }
}

@media (min-width: 1024px) {
  .main .modelling_list li, .search_result .modelling_list li {
    width: 23.5rem;
  }
}

.main .modelling_list li a, .search_result .modelling_list li a {
  display: block;
}

.main .modelling_list li a .imgarea, .search_result .modelling_list li a .imgarea {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling_list li a .imgarea, .search_result .modelling_list li a .imgarea {
    height: 29rem;
    border-bottom: 0.1rem solid #d9d9d9;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling_list li a .imgarea, .search_result .modelling_list li a .imgarea {
    height: 32rem;
    border-bottom: 0.1rem solid #d9d9d9;
  }
}

@media (min-width: 1024px) {
  .main .modelling_list li a .imgarea, .search_result .modelling_list li a .imgarea {
    height: 13.2rem;
    border: 0.1rem solid #d9d9d9;
  }
}

.main .modelling_list li a .imgarea img, .search_result .modelling_list li a .imgarea img {
  width: 150%;
}

@media (min-width: 1024px) {
  .main .modelling_list li a .imgarea img, .search_result .modelling_list li a .imgarea img {
    width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .main .modelling_list li a p, .search_result .modelling_list li a p {
    padding: 0 1rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling_list li a p, .search_result .modelling_list li a p {
    padding: 0 1rem;
  }
}

@media (min-width: 1024px) {
  .main .modelling_list li a p, .search_result .modelling_list li a p {
    padding: 1rem 0;
  }
}

.main .modelling_list li a .title, .search_result .modelling_list li a .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main .modelling_list li a .price, .search_result .modelling_list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #9c9c9c;
}

.main .modelling_list li a .price span, .search_result .modelling_list li a .price span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #2955EF;
  margin-right: .4rem;
}

.main .modelling .swiper-button-prev, .search_result .modelling .swiper-button-prev {
  left: -5rem;
  z-index: 0;
}

.main .modelling .swiper-button-next, .search_result .modelling .swiper-button-next {
  right: -5rem;
  z-index: 0;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .main .modelling .swiper-button-next, .search_result .modelling .swiper-button-next {
    display: none;
  }
}

@media (min-width: 1024px) {
  .main .modelling .swiper-button-next, .search_result .modelling .swiper-button-next {
    display: block;
  }
}

.main .popup, .search_result .popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.main .popup .viewer, .search_result .popup .viewer {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 5vw;
  background-color: #fff;
  border-radius: 2rem;
  z-index: 999;
  grid-gap: 1rem;
  -ms-grid-columns: 6fr 3fr;
      grid-template-columns: 6fr 3fr;
}

.main .popup .viewer model-viewer, .search_result .popup .viewer model-viewer {
  width: 100%;
  height: 100%;
}

.main .popup .viewer .model_info, .search_result .popup .viewer .model_info {
  width: 100%;
  height: 100%;
}
