@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  width: 970px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  height: 7rem;
  border-bottom: 1px solid #d9d9d9;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

header:after {
  display: none;
}

header .wrap {
  height: 100%;
}

header .container {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container h1 {
  margin-right: 41.5rem;
}

header .container input[type=search] {
  width: 30rem;
  padding: 0 1rem;
  border: none;
  border-bottom: 1px solid #737373;
  margin-right: 1.9rem;
}

header .container input[type=search]:focus {
  outline: none;
}

header .container button {
  font-size: 2.5rem;
  background-color: transparent;
  border: none;
  margin-right: 3.9rem;
}

header .container button:focus {
  outline: none;
}

header .container .ham {
  cursor: pointer;
  width: 5.8rem;
  height: 5.8rem;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .container .ham span {
  width: 2rem;
  height: .2rem;
  display: block;
  background-color: #474747;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .container .ham span:before, header .container .ham span:after {
  content: "";
  display: block;
  width: 2rem;
  height: .2rem;
  background-color: #474747;
  position: absolute;
}

header .container .ham span::before {
  top: -.6rem;
}

header .container .ham span:after {
  bottom: -.6rem;
}

header .menu {
  width: 36rem;
  height: 100%;
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  display: none;
}

header .menu.on {
  display: block;
  right: 0;
  z-index: 999;
}

header .menu.on::before {
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  right: 0;
  z-index: -1;
}

header .menu > div {
  background-color: #fff;
  width: 100%;
  height: 100vh;
}

header .menu button {
  background-color: transparent;
  font-size: 2.5rem;
  border: none;
  padding: 2rem;
  position: absolute;
  right: 0;
}

header .menu hr {
  border: none;
  border-bottom: .8rem solid #e8e8e8;
  margin: 2rem 0;
}

header .menu .welcome {
  width: 32rem;
  margin: 0 auto;
  padding-top: 7.8rem;
  font-size: 1.8rem;
}

header .menu .welcome h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  height: 3.2rem;
  line-height: 3.2rem;
}

header .menu .welcome p {
  line-height: 3.2rem;
  color: #656565;
  margin-bottom: 1rem;
}

header .menu .welcome a {
  display: block;
  width: 100%;
  padding: 1rem 0;
  text-align: center;
  border: 1px solid #0078f0;
  color: #0078f0;
  font-weight: 700;
}

header .menu .gnb {
  display: noe;
  width: 32rem;
  margin: 0 auto;
}

header .menu .gnb li {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #212529;
  margin: 1.4rem 0;
}

footer {
  display: block;
  width: 100%;
  height: auto;
  font-size: 1.4rem;
  font-weight: 100;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  background-color: #555;
  border-top: 0.1rem solid #777;
}

footer .inner {
  width: 100%;
  max-width: 97rem;
  height: auto;
  margin: 0 auto;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer .foot-logo {
  display: inline-block;
  width: 19.3rem;
  height: 4rem;
  margin: 5.5rem auto 3rem;
  background: url("http://zipshowkorea.com/img/zipshow_long_w.png") no-repeat;
}

footer .foot-info span {
  display: inline-block;
  margin: 1rem 2rem 1rem 0;
}

footer .foot-info span:first-child {
  color: #fff;
}

footer .foot-info span:last-child {
  margin-bottom: 5.5rem;
}

footer .foot-info .phone {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-phone.png") no-repeat;
}

footer .foot-info .mail {
  padding-left: 3rem;
  background: url("https://zipshowkorea.com/img/foot-mail.png") no-repeat;
}

footer .foot-copy {
  padding: 1.6rem 0;
  font-size: 1.1rem;
}

footer .divide {
  border-top: 0.1rem solid #777;
}

.banner {
  width: 100%;
  height: 30rem;
  background-color: #d8f3ff;
}

.banner .content {
  padding: 8rem 20rem;
}

.banner .content p {
  font-size: 1.6rem;
  line-height: 1.9rem;
  margin-bottom: 1rem;
}

.banner .content h2 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.85rem;
}

.category {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 3rem auto;
}

.category ul {
  width: 53.6rem;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.1rem;
  padding: 0.1rem;
  background-color: #c4c4c4;
  position: relative;
}

.category ul li {
  width: 100%;
  height: calc(100% -0.1rem);
  height: 4.2rem;
  text-align: center;
  font-size: 1.4rem;
  position: relative;
  background-color: #fff;
}

.category ul li a {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.popular {
  position: relative;
  width: 100%;
}

.popular h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.popular .more {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  line-height: 3.5rem;
}

.popular_list {
  width: 100%;
  margin: 1rem 0;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem 1rem;
}

.popular_list li {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popular_list li:hover .imgarea img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.popular_list li a {
  display: block;
}

.popular_list li a .imgarea {
  width: 100%;
  overflow: hidden;
}

.popular_list li a .imgarea img {
  width: inherit;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in;
}

.popular_list li a .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.popular_list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #9c9c9c;
}

.popular_list li a .price span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #0078f0;
  margin-right: .4rem;
}

.modelling {
  position: relative;
  width: 100%;
  margin: 5rem 0 15rem;
}

.modelling h2 {
  font-size: 2.4rem;
  font-weight: 700;
}

.modelling .more {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 2rem;
  line-height: 3.5rem;
}

.modelling .swiper-container {
  z-index: 0;
}

.modelling_list {
  margin: 1rem 0;
}

.modelling_list li {
  width: calc(25% - 5.2rem) !important;
  margin-right: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0.1rem solid #ddd;
  padding: 2rem;
}

.modelling_list li a {
  display: block;
}

.modelling_list li a .imgarea {
  width: 100%;
  overflow: hidden;
}

.modelling_list li a .imgarea img {
  width: inherit;
}

.modelling_list li a .title {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modelling_list li a .price {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.5rem;
  color: #9c9c9c;
}

.modelling_list li a .price span {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.8rem;
  color: #0078f0;
  margin-right: .4rem;
}

.modelling .swiper-button-prev {
  left: -5rem;
  z-index: 0;
}

.modelling .swiper-button-next {
  right: -5rem;
  z-index: 0;
}

.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
}

.popup .viewer {
  width: 90vw;
  height: 90vh;
  position: absolute;
  top: 5vh;
  left: 5vw;
  background-color: #fff;
  border-radius: 2rem;
  z-index: 999;
  grid-gap: 1rem;
  -ms-grid-columns: 6fr 3fr;
      grid-template-columns: 6fr 3fr;
}

.popup .viewer model-viewer {
  width: 100%;
  height: 100%;
}

.popup .viewer .model_info {
  width: 100%;
  height: 100%;
}
