@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button, input {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button {
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrap {
    width: 970px;
  }
}

.user_reservation {
  width: 57rem;
  margin: 5rem auto 10rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation {
    width: 90%;
    margin: 2rem auto 10rem;
  }
}

.user_reservation h2 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 2rem;
  margin: 0 auto;
  border-bottom: 0.5rem solid #000;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation h2 {
    font-size: 2rem;
    padding: 1rem;
  }
}

.user_reservation .reservation_list {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation .reservation_list {
    margin-top: 2rem;
    grid-gap: 2rem;
  }
}

.user_reservation .reservation_list li {
  background-color: #fff;
  border: 0.1rem solid #c4c4c4;
  padding: 2rem;
  position: relative;
  margin: 2rem 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation .reservation_list li {
    margin: 0;
    padding: 1rem;
  }
}

.user_reservation .reservation_list li .title {
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 700;
}

.user_reservation .reservation_list li .cancel {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 2rem;
  top: 2rem;
  color: #2955EF;
  font-size: 1.4rem;
  line-height: 3.2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation .reservation_list li .cancel {
    top: 1rem;
    right: 1rem;
  }
}

.user_reservation .reservation_list li table {
  width: 100%;
  font-size: 1.6rem;
}

.user_reservation .reservation_list li table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user_reservation .reservation_list li table th {
  width: 15%;
  font-weight: 400;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation .reservation_list li table th {
    min-width: 6.5rem;
    max-width: 7rem;
  }
}

.user_reservation .reservation_list li table td {
  color: #5d5d5d;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_reservation .reservation_list li table td {
    display: inline-block;
    padding-left: 1rem;
  }
}
