@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 10px;
}

a {
  color: #000;
  text-decoration: none;
}

li {
  list-style: none;
}

button, input {
  cursor: pointer;
}

button:focus, input:focus {
  outline: none;
}

button {
  border: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.wrap {
  margin: 0 auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .wrap {
    width: 32rem;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .wrap {
    width: 80%;
  }
}

@media (min-width: 1024px) {
  .wrap {
    width: 970px;
  }
}

html {
  background-color: #fff;
}

.user_index {
  width: 32rem;
  margin: 15.5rem auto;
  position: relative;
}

@media (min-width: 320px) and (max-width: 767px) {
  .user_index {
    width: 90%;
  }
}

.user_index .user_login fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.user_index .user_login fieldset legend {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 3.2rem;
}

.user_index .user_login fieldset p {
  font-size: 1.8rem;
  color: #656565;
  line-height: 3.2rem;
}

.user_index .user_login fieldset input {
  width: calc(100% - 2.2rem);
  margin: 0.5rem 0;
  padding: 1rem;
  font-size: 1.8rem;
}

.user_index .user_login fieldset input:focus {
  outline: none;
}

.user_index .user_login fieldset input::-webkit-input-placeholder {
  color: #9e9e9e;
}

.user_index .user_login fieldset input:-ms-input-placeholder {
  color: #9e9e9e;
}

.user_index .user_login fieldset input::-ms-input-placeholder {
  color: #9e9e9e;
}

.user_index .user_login fieldset input::placeholder {
  color: #9e9e9e;
}

.user_index .login {
  width: 100%;
  padding: 1.2rem 0;
  font-size: 1.8rem;
  background-color: #2955EF;
  color: #fff;
  border: none;
  margin: 3rem 0 2rem;
}

.user_index .login:focus {
  outline: none;
}

.user_index a {
  font-size: 1.8rem;
  color: #9e9e9e;
}

.user_index a:last-child {
  position: absolute;
  right: 0;
}

.user_index a:hover {
  text-decoration: underline;
}
