footer {
    display: block;
    width: 100%;
    height: auto;
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.5);
    background-color: #555;
    border-top: 0.1rem solid #777;

    .inner {
        width: 100%;
        max-width: 97rem;
        height: auto;
        margin: 0 auto;
        padding: 0 1.5rem;
        box-sizing: border-box;
    }

    .foot {
        &-logo {
            display: inline-block;
            width: 19.3rem;
            height: 4rem;
            margin: 5.5rem auto 3rem;
            background: url("http://zipshowkorea.com/img/zipshow_long_w.png") no-repeat ;

        }

        &-info {
            span {
                display: inline-block;
                margin: 1rem 2rem 1rem 0;

                &:first-child {
                    color: #fff;
                }

                &:last-child {
                    margin-bottom: 5.5rem;
                }                
            }

            .phone {
                padding-left: 3rem;
                background: url("https://zipshowkorea.com/img/foot-phone.png") no-repeat;
            }
    
            .mail {
                padding-left: 3rem;
                background: url("https://zipshowkorea.com/img/foot-mail.png") no-repeat;
            }
        }

        &-copy {
            padding: 1.6rem 0;
            font-size: 1.1rem;
        }
    }

    .divide {
        border-top: 0.1rem solid #777;
    }

}
