@import 'config';

.ask {
    width: 32rem;
    margin: 5rem auto 10rem;
    font-size: 1.8rem;
    line-height: 3.2rem;

    h2 {
        font-size: 1.8rem;
    }

    p {
       color: #656565;
    }

    input, textarea {
        width: calc(100% - 2rem);
        padding: 1rem;
        margin: 0.5rem 0;
        border: 0.1rem solid #c4c4c4;
        font-size: 1.8rem;

        &:focus {
            outline: none;
        }
    }

    textarea {
        height: 15rem;
        resize: none;
    }

    button {
        width: 100%;
        padding: 1.2rem;
        color: #fff;
        font-weight: 700;
        background-color: $point-color;
        border: none;
        cursor: none;
    }

    .emailRegExp {
        color: #ff1f00;
    }
}