@import 'config';
@import 'header';
@import 'footer';

.banner {
    width: 100%;
    height: 30rem;
    background-color: #d8f3ff;

    .content {
        padding: 8rem 20rem;
        p {
            font-size: 1.6rem;
            line-height: 1.9rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 2.4rem;
            line-height: 2.8rem;
            font-weight: 700;
            margin-bottom: 1.85rem;
        }
    }
}

.category {
    width: fit-content;
    height: fit-content;
    margin: 3rem auto;

    ul {
        width: 53.6rem;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 0.1rem;
        padding: 0.1rem;
        background-color: #c4c4c4;
        position: relative;

        li {
            width: 100%;
            height: calc(100% -0.1rem);
            height: 4.2rem;
            text-align: center;
            font-size: 1.4rem;
            position: relative;
            background-color: #fff;

            a {
                width: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

.popular {
    position: relative;
    width: 100%;


    h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    .more {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2rem;
        line-height: 3.5rem;
    }

    &_list {
        width: 100%;
        margin: 1rem 0;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 3rem 1rem;

        li {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover {
                .imgarea {
                    img {
                        transform: scale(1.1);
                        @include transition-ease;
                    }
                }
            }
            a {
                display: block;

                .imgarea {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: inherit;
                        @include transition-ease;
                    }
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 3.2rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .price {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2.5rem;
                    color: #9c9c9c;
                    
                    span {
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 2.8rem;
                        color: $point-color;
                        margin-right: .4rem;
                    }
                }
            }
        }
    }
}

.modelling {
    position: relative;
    width: 100%;
    margin: 5rem 0 15rem;

    h2 {
        font-size: 2.4rem;
        font-weight: 700;
    }

    .more {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 2rem;
        line-height: 3.5rem;
    }

    .swiper-container {
        z-index: -1;
    }

    &_list {
        margin: 1rem 0;

        li {
            width: calc(25% - 5.2rem) !important;
            margin-right: 1rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            border: 0.1rem solid #ddd;
            padding: 2rem;

            a {
                display: block;

                .imgarea {
                    width: 100%;
                    overflow: hidden;
                    img {
                        width: inherit;
                    }
                }

                .title {
                    font-size: 1.8rem;
                    font-weight: 700;
                    line-height: 3.2rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .price {
                    font-size: 1.4rem;
                    font-weight: 400;
                    line-height: 2.5rem;
                    color: #9c9c9c;
                    
                    span {
                        font-size: 1.6rem;
                        font-weight: 700;
                        line-height: 2.8rem;
                        color: $point-color;
                        margin-right: .4rem;
                    }
                }
            }
        }
    }

    .swiper-button-prev {
        left: -5rem;
        z-index: 0;
    }
    
    
    .swiper-button-next {
        right: -5rem;
        z-index: 0;
    }

}

.popup {
    width: 100vw;
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    
    .viewer {
        width: 90vw;
        height: 90vh;
        position: absolute;
        top: 5vh;
        left: 5vw;
        background-color: #fff;
        border-radius: 2rem;
        z-index: 999;
        grid-gap: 1rem;
        grid-template-columns: 6fr 3fr;

        model-viewer {
            width: 100%;
            height: 100%;
        }

        .model_info {
            width: 100%;
            height: 100%;
            
        }
    }
}