asdf@import 'config';

html {
    background-color: #fff;
}

.gnb {
    display: none;
}

.user_index {
    width: 32rem;
    margin: 15.5rem auto;
    position: relative;

    .user_login {
        fieldset {
            border: none;
            padding: 0;
            margin: 0;

            legend {
                font-size: 1.8rem;
                font-weight: 700;
                line-height: 3.2rem;
            }

            p {
                font-size: 1.8rem;
                color: #656565;
                line-height: 3.2rem;
            }

            input {
                width: calc(100% - 2.2rem);
                margin: 0.5rem 0;
                padding: 1rem;
                font-size: 1.8rem;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: #9e9e9e;
                }

            }
        }
    }

    .login {
        width: 100%;
        padding: 1.2rem 0;
        font-size: 1.8rem;
        background-color: $point-color;
        color: #fff;
        border: none;
        margin: 3rem 0 2rem;

        &:focus {
            outline: none;
        }
    }

    a {
        font-size: 1.8rem;
        color: #9e9e9e;

        &:last-child {
            position: absolute;
            right: 0;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}